.credits {
  display: flex;
  flex-direction: column;

  &__text {
    //white-space: pre-line;
    text-wrap: wrap;
    margin-bottom: 0;

    &:nth-of-type(n + 2)::before {
      content: '. ';
    }

    @media screen and (max-width: 1440px) {
      font-size: 14px;
      line-height: 20px;
    }

    // @media screen and (max-width: 800px) {
    //   font-size: 14px;
    //   line-height: 18px;
    // }
  }

  &__link {
    color: var(--color-secondary);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-wrap: wrap;

    @media screen and (max-width: 1440px) {
      font-size: 14px;
    }
  }
}

.mesh-spin {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.mesh-spin:after {
  content: '';
  height: 50px;
  width: 80%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  filter: blur(8px);
  transform: scale(1, 0.3);
}

.mesh-spin svg {
  color: var(--logo-color);
}
