.credits {
  display: flex;
  flex-direction: column;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-right: auto;
  }

  &__list-element {
    display: flex;
    align-items: center;
  }

  &__text {
    white-space: pre;
    text-wrap: wrap;
    margin-bottom: 0;

    &:nth-of-type(n + 2)::before {
      content: '. ';
    }

    @media screen and (max-width: 1440px) {
      font-size: 14px;
      line-height: 20px;
    }

    // @media screen and (max-width: 800px) {
    //   font-size: 14px;
    //   line-height: 18px;
    // }
  }

  &__link {
    color: var(--color-secondary);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;

    @media screen and (max-width: 1440px) {
      font-size: 14px;
    }
  }

  &__image {
    height: 20px;
    margin-left: 10px;
  }
}
