.credits {
  width: 100%;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-right: auto;
  }

  &__list-element {
    display: flex;
    align-items: center;
  }

  &__text {
    color: var(--color-primary, #666);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    transition: inherit;
    white-space: pre;

    @media screen and (max-width: 1440px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__link {
    color: var(--color-secondary);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;

    @media screen and (max-width: 1440px) {
      font-size: 14px;
    }
  }

  &__image {
    height: 20px;
    margin-left: 10px;
  }
}
