.social-links {
  display: flex;
  align-items: center;
  gap: 20px;
  line-height: 0;
  grid-area: social;
}

.social-icon {
  height: 30px;
  width: 30px;

  @media screen and (max-width: 1440px) {
    height: 28px;
    width: 28px;
  }

  @media screen and (max-width: 1280px) {
    height: 26px;
    width: 26px;
  }

  @media screen and (max-width: 1024px) {
    height: 24px;
    width: 24px;
  }

  @media screen and (max-width: 800px) {
    height: 22px;
    width: 22px;
  }

  @media screen and (max-width: 600px) {
    height: 20px;
    width: 20px;
  }

  & > svg {
    width: 100%;
    height: 100%;
  }

  & > path {
    fill: var(--color-icon);
    transition: all 0.5s;
  }

  &:hover > path {
    fill: var(--color-icon-hover);
  }
}
