.menu {
  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 50px;
    list-style-type: none;
    grid-area: menu;
    position: relative;

    @media screen and (max-width: 1440px) {
      gap: 30px;
    }

    @media screen and (max-width: 1024px) {
      gap: 20px;
    }

    @media screen and (max-width: 800px) {
      gap: 15px;
    }

    @media screen and (max-width: 600px) {
      gap: 12px;
    }
  }

  &__burger {
    background-size: 100%;
    width: 30px;
    height: 30px;
    display: none;

    @media screen and (max-width: 800px) {
      display: unset;
    }

    & > path {
      fill: var(--color-icon);
    }
  }

  &__elements {
    display: flex;
    gap: 50px;

    @media screen and (max-width: 1440px) {
      gap: 45px;
    }

    @media screen and (max-width: 1280px) {
      gap: 40px;
    }
    @media screen and (max-width: 1024px) {
      gap: 30px;
    }

    @media screen and (max-width: 800px) {
      display: none;
      background-color: var(--bg-color-main);
    }

    &_showed {
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 55px;
      right: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      gap: 25px;
      text-align: right;

      @media screen and (max-width: 800px) {
        gap: 10px;
      }
    }
  }

  &__element {
    min-width: 65px;

    @media screen and (max-width: 800px) {
      line-height: 40px;
    }
  }

  &__link {
    text-decoration: none;
    cursor: pointer;
    color: var(--color-secondary);
    font-family: var(--font-menu);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    transition: all 0.5s;

    &:hover {
      color: var(--color-primary);
    }

    @media screen and (max-width: 1440px) {
      font-size: 18px;
    }

    @media screen and (max-width: 1280px) {
      font-size: 16px;
    }

    @media screen and (max-width: 1024px) {
      font-size: 14px;
    }

    @media screen and (max-width: 800px) {
      font-size: 40px;
    }
  }
}
