.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 250px;
  width: 100%;

  @media screen and (max-width: 1440px) {
    gap: 180px;
  }

  &__title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    color: var(--color-primary);
    margin-bottom: 50px;

    @media screen and (max-width: 1440px) {
      font-size: 40px;
      margin-bottom: 40px;
    }
  }

  &__subtitle {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    color: var(--color-secondary);
    margin-bottom: 140px;

    @media screen and (max-width: 1440px) {
      font-size: 24px;
      margin-bottom: 100px;
    }
  }

  &__text {
    color: var(--color-primary, #666);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

    @media screen and (max-width: 1440px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__hero-text {
    color: var(--color-hero);
    font-family: var(--font-main);
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
    text-align: left;

    @media screen and (max-width: 1440px) {
      font-size: 40px;
    }
  }

  &__hero-name {
    background: var(--color-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-main);
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;

    @media screen and (max-width: 1440px) {
      font-size: 40px;
    }
  }

  &__avatar {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    background: linear-gradient(gray, gray) padding-box, var(--color-gradient-vertical) border-box;
    border: 12px solid transparent;

    @media screen and (max-width: 1440px) {
      width: 300px;
      height: 300px;
      border: 10px solid transparent;
    }
  }

  &__stack {
    &-list {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      row-gap: 75px;

      @media screen and (max-width: 1440px) {
        row-gap: 55px;
      }
    }
  }
  &__projects {
    &-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 65px 50px;
      list-style-type: none;
    }
  }
}
