.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 250px;
  width: 100%;
  transition: all 0.5s;

  @media screen and (max-width: 1440px) {
    gap: 180px;
  }

  @media screen and (max-width: 1280px) {
    gap: 160px;
  }

  @media screen and (max-width: 1024px) {
    gap: 140px;
  }

  @media screen and (max-width: 800px) {
    gap: 120px;
  }

  @media screen and (max-width: 600px) {
    gap: 100px;
  }

  &__title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    color: var(--color-primary);
    margin-bottom: 50px;
    transition: inherit;
    text-transform: uppercase;

    @media screen and (max-width: 1440px) {
      font-size: 40px;
      margin-bottom: 40px;
    }

    @media screen and (max-width: 1280px) {
      font-size: 36px;
      margin-bottom: 36px;
    }

    @media screen and (max-width: 1024px) {
      font-size: 32px;
      margin-bottom: 32px;
    }

    @media screen and (max-width: 800px) {
      font-size: 28px;
      margin-bottom: 15px;
      letter-spacing: 4px;
    }

    @media screen and (max-width: 600px) {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }

  &__subtitle {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    color: var(--color-secondary);
    margin: 0 0 140px;
    transition: inherit;

    @media screen and (max-width: 1440px) {
      font-size: 28px;
      margin-bottom: 120px;
    }

    @media screen and (max-width: 1280px) {
      font-size: 24px;
      margin-bottom: 100px;
    }

    @media screen and (max-width: 1024px) {
      font-size: 20px;
      margin-bottom: 80px;
    }

    @media screen and (max-width: 800px) {
      font-size: 18px;
      margin-bottom: 60px;
    }

    @media screen and (max-width: 600px) {
      font-size: 16px;
      margin-bottom: 40px;
    }
  }

  &__text {
    color: var(--color-primary, #666);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    transition: inherit;

    @media screen and (max-width: 1440px) {
      font-size: 14px;
      line-height: 20px;
    }

    @media screen and (max-width: 1280px) {
      font-size: 12px;
      line-height: 18px;
    }

    @media screen and (max-width: 1024px) {
      font-size: 10px;
      line-height: 16px;
    }

    @media screen and (max-width: 800px) {
      font-size: 8px;
      line-height: 14px;
    }

    @media screen and (max-width: 600px) {
      font-size: 8px;
      line-height: 14px;
    }
  }

  &__hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__hero-text {
    color: var(--color-hero);
    font-family: var(--font-main);
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
    text-align: left;
    transition: inherit;
  }

  &__hero-name {
    background: var(--color-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-main);
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
    transition: inherit;
  }

  &__hero-text,
  &__hero-name {
    @media screen and (max-width: 1440px) {
      font-size: 40px;
      line-height: 65px;
    }

    @media screen and (max-width: 1280px) {
      font-size: 36px;
      line-height: 60px;
    }

    @media screen and (max-width: 1024px) {
      font-size: 28px;
      line-height: 50px;
    }

    @media screen and (max-width: 800px) {
      font-size: 22px;
      line-height: 40px;
    }

    @media screen and (max-width: 600px) {
      font-size: 18px;
      line-height: 30px;
    }

    @media screen and (max-width: 500px) {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__avatar {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    background: linear-gradient(gray, gray) padding-box, var(--color-gradient-vertical) border-box;
    border: 12px solid transparent;

    @media screen and (max-width: 1440px) {
      width: 300px;
      height: 300px;
      border: 10px solid transparent;
    }

    @media screen and (max-width: 1280px) {
      width: 280px;
      height: 280px;
      border: 10px solid transparent;
    }

    @media screen and (max-width: 1024px) {
      width: 240px;
      height: 240px;
      border: 8px solid transparent;
    }

    @media screen and (max-width: 800px) {
      width: 200px;
      height: 200px;
      border: 6px solid transparent;
    }

    @media screen and (max-width: 600px) {
      width: 160px;
      height: 160px;
      border: 6px solid transparent;
    }

    @media screen and (max-width: 600px) {
      width: 120px;
      height: 120px;
      border: 5px solid transparent;
    }
  }

  &__stack {
    &-list {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      row-gap: 75px;

      @media screen and (max-width: 1440px) {
        row-gap: 55px;
      }

      @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
      }

      @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
  &__projects {
    &-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 65px 50px;
      list-style-type: none;

      @media screen and (max-width: 1280px) {
        grid-template-columns: repeat(2, 1fr);
        //gap: 40px 25px;
      }

      @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 35px 30px;
      }
      @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
      }
    }
  }
}
