.preview-modal {
  &__image {
    width: 50vw;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #000000;
  }

  &__wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
