.footer {
  flex-grow: 0;
  width: 100%;
  margin-top: auto;
  font-family: var(--font-menu);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  @media screen and (max-width: 1440px) {
    font-size: 16px;
  }

  & > * {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 35px;

    & > a {
      color: var(--color-secondary);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      text-decoration: none;

      @media screen and (max-width: 1440px) {
        font-size: 16px;
      }

      @media screen and (max-width: 800px) {
        font-size: 12px;
      }
    }
  }

  &__divider {
    width: 100%;
    height: 2px;
    background-color: var(--color-additional);
    opacity: 0.3;
  }

  &__credits {
    @media screen and (max-width: 800px) {
      font-size: 12px;
    }
  }
}
