@import url('./utils/color-themes.scss');
@import url('./utils/fonts.scss');

:root {
  transition: all 0.5s;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
h4,
h5,
a,
div,
span,
ul,
li,
menu {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
