:root {
  // dark theme
  --bg-dark-main: #191919;
  --bg-dark-card: #363636;
  --color-green: #018c0f;

  --color-dark-hero: #d9d9d9;
  --color-dark-primary: #cccccc;
  --color-dark-secondary: #a7a7a7;
  --color-dark-additional: #ffffff;
  --color-dark-green: #d7ffe0;

  --color-gradient: linear-gradient(90deg, #13b0f5 0%, #e70faa 100%);
  --color-gradient-vertical: linear-gradient(0deg, #13b0f5 -2%, #e70faa 100%);

  // beige theme
  --bg-beige-main: #faf0e6;
  --bg-beige-card: #fff0db;

  --color-beige-hero: #191919;
  --color-beige-primary: #363636;
  --color-beige-secondary: #363636;
  --color-beige-additional: #000000;

  // current colors and fonts

  --bg-color-primary: var(--bg-dark-main);
  --bg-color-secondary: var(--bg-dark-card);

  --color-hero: var(--color-dark-hero);
  --color-primary: var(--color-dark-primary);
  --color-secondary: var(--color-dark-secondary);
  --color-additional: var(--color-dark-additional);

  --font-main: 'Montserrat';
  --font-menu: 'Jura';

  background-color: var(--bg-color-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
h4,
h5,
a,
div,
span,
ul,
li,
menu {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
