.toggle-theme {
  &__button {
    cursor: pointer;
    position: fixed;
    top: 50px;
    left: 110px;
    border: 0;
    background: none;
    transition: all 0.5s;

    &:hover {
      transform: scale(1.1);
    }

    & path {
      fill: #cccccc;
      transition: inherit;
    }

    &:hover path {
      fill: #ffffff;
    }
  }

  &__icon {
    height: 20px;
    width: 20px;
  }
}
