.toggle-theme {
  &__button {
    cursor: pointer;
    position: fixed;
    top: 50px;
    left: 110px;
    border: 0;
    background: none;

    & path {
      fill: #cccccc;
      transition: all 0.5s;
    }

    &:hover path {
      fill: #ffffff;
    }
  }

  &__icon {
    height: 20px;
    width: 20px;

    & path {
      // fill: #cccccc;
    }
  }
}
